/* body {
    background-image: url("1.jpg");
    width: 100%;
}

h1 {
  margin-top: 150px;
  color: white;
  font-size: 65px;
} */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    /* background-repeat: no-repeat; */
}

body {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: transparent;
}

#top {
    background-image: url("1.jpg");
    background-size: 100%;
}

.text-vertical-center {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
   background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: transparent;
}

.header-text {
    max-width: 650px;
    margin: 0 auto;
    padding: 30px;
}

.author_image {
    display: inline-block;
    background-color: #000;
    border-radius: 50%;
    border: 6px solid #fff;
}

.tilt .author_image {
    /* background-color: transparent; */
    transform: rotateZ(-360deg);
    transition: all .75s linear;
}

.author_image:hover {
    background-color: #000;
    transform: rotateZ(0);
    transition-duration: .75s;
}

#image {
  background-image: url("me2.jpg");
  background-size: cover;
  background-position: 65% center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

/* About */

.about {
    padding: 50px 0;
}

/* Material portfolio*/
.card {
	position: relative;
  height: 300px;
  margin: 0 auto;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  margin-top: 5em;
  margin-bottom: 3em;
}
.card .cardContent {
  position: relative;
  padding: 5%;
  padding-top: 15%;
  margin-top: -10%;
  padding-bottom: 8%;
  overflow: hidden;
}
.card .cardContent .titleSocial {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 30%;
  color: white;
  width: 70%;
  right: 0;
  left: 0;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5em;
  -webkit-transition: z-index 0s 0.3s, opacity 0 0.3s;
  -moz-transition: z-index 0s 0.3s, opacity 0 0.3s;
  -ms-transition: z-index 0s 0.3s, opacity 0 0.3s;
  -o-transition: z-index 0s 0.3s, opacity 0 0.3s;
  transition: z-index 0s 0.3s, opacity 0 0.3s;
}
.card .cardContent .titleSocial.is-active {
  opacity: 1;
  z-index: 4;
}
.card .cardContent .menuSocial {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 75%;
  left: 0%;
  top: 60%;
  z-index: 1;
  right: 0;
  margin: 0 auto;
  -webkit-transition: z-index 0s 0.3s;
  -moz-transition: z-index 0s 0.3s;
  -ms-transition: z-index 0s 0.3s;
  -o-transition: z-index 0s 0.3s;
  transition: z-index 0s 0.3s;
}
.card .cardContent .menuSocial .menuSocialItem {
  display: inline-block;
  font-size: 30px;
  width: 25%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  color: white;
  -webkit-transition: opacity 0.25s 0.3s;
  -moz-transition: opacity 0.25s 0.3s;
  -ms-transition: opacity 0.25s 0.3s;
  -o-transition: opacity 0.25s 0.3s;
  transition: opacity 0.25s 0.3s;
}
.card .cardContent .menuSocial .menuSocialItem .menuSocialItemLink {
  color: white;
  text-decoration: none;
  text-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.card .cardContent .menuSocial .menuSocialItem.is-active {
  opacity: 1;
}
.card .cardContent .menuSocial.is-active {
  z-index: 4;
}
.card .cardContent .cardContentButton {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background-color: #673AB7;
  position: absolute;
  right: 4%;
  top: 5px;
  font-size: 1.8em;
  z-index: 3;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.card .cardContent .cardContentButton i {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.card .cardContent .cardContentButton i.is-active {
  display: none;
}
.card .cardContent .cardContentButton.is-active {
  right: 15%;
  top: 40px;
  -webkit-animation: ejemplo 0.5s 0.2s forwards;
  -moz-animation: ejemplo 0.5s 0.2s forwards;
  -o-animation: ejemplo 0.5s 0.2s forwards;
  -ms-animation: ejemplo 0.5s 0.2s forwards;
  animation: ejemplo 0.5s 0.2s forwards;
}
.card .cardContent .cardContentName {
  color: #673AB7;
  font-size: 25px;
}
.card .cardContent .cardContentJob {
  color: #9575CD;
  font-size: 15px;
}
.card .cardContent p {
  margin: 0;
  z-index: 2;
}
.card .cardContent .cardContentButton:focus {
  outline: none;
}
.card .card_image {
  width: 100%;
  position: relative;
  margin-bottom: -1%;
  z-index: 2;
  -webkit-transition: z-index 0s 0.2s;
  -moz-transition: z-index 0s 0.2s;
  -ms-transition: z-index 0s 0.2s;
  -o-transition: z-index 0s 0.2s;
  transition: z-index 0s 0.2s;
}
.card .card_image i {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.card .card_image img {
  width: 100%;
}
.card .card_image.is-active {
  z-index: 4;
}
.card .in-production {
	bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #673AB7;
    color: #fff;
    padding: 7px;
    font-size: 1.2em;
}
@-webkit-keyframes ejemplo {
  100% {
    -webkit-transform: scale(12);
    -moz-transform: scale(12);
    -ms-transform: scale(12);
    -o-transform: scale(12);
    transform: scale(12);
  }
}
@keyframes ejemplo {
  100% {
    -webkit-transform: scale(12);
    -moz-transform: scale(12);
    -ms-transform: scale(12);
    -o-transform: scale(12);
    transform: scale(12);
  }
}

/* Resume */

#resume {
    width: 100%;
    height: 1170px;
}
/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
    max-height: 270px;
}

.img-portfolio:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .card {
        height: 550px;
    }
}

@media (max-width: 599px) {
	.header-text {
		padding: 0;
	}
    .card {
        height: 300px;
    }
}
